<main role="main">
  <section class="content">
    <nav class="wiki-nav">
      <ul>
      <% @wikis.each do |wiki| %>
        <li>
          <%= link_to "#{ wiki.name }", wiki_path(wiki.name), 'data-no-turbolink' => false %>
        </li>
      <% end %>
      </ul>
    </nav>
  </section>
</main>
