#editor { 
/*  height: 100%;*/
  height: 500px;
}

#editor textarea, 
#editor #preview {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #fff;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

#editor textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}
#editor #preview {
  overflow-y: auto;
  text-align: left;
}
code {
  color: #f66;
}
.form-group {
  text-align: center;
  margin-bottom :10px;
}  
.form-group.fluid {
  float: left;
  
}
.form-group input[type='text'] {
  width: 80%;
  padding: .2em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #adadda;
  font-size: 1.5em;
  text-align: center;
}
.form-group input[type='submit'] {
  width: 85px;
  height: 33px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #3170c5;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease;
  font-size: 1em;
}
.form-group input[type='submit']:hover {
  color: #3170c5;
  border: 1px solid #3170c5;
  background-color: #fff;
}
/********************
        Nav 
********************/
nav a {
  text-decoration: none;
  color: #4183c4;
}
nav a:hover {
  text-decoration: underline;
}
/*-----------
    Wiki
-----------*/
nav.wiki-nav {
}
.wiki-nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.wiki-nav ul li {
  margin: 0;
  padding: .2em 0;  
}

.toolbar {
  list-style: none;
}
.toolbar li {
  float: left;
  cursor: pointer;
  margin-right: 5px;
}
.toolbar .fa {
  font-size: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
}
/****************
      Content
****************/

.content {
  padding: 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 6px #b2a8a8;
}
/*----------
    Article
----------*/
#wiki {
}
#article header {
  text-align: center;
}
#article header h1 {
  font-size: 35px;
}

 .tab-controlls {
  list-style: none;
 }
 .tab-controlls li {
   cursor: pointer;
   float: left;
   padding: 5px;
   margin-right: 10px;
   background-color: #3170c5;
 }
.tab-controlls li.active {
  background-color: #fff;  
}
.tab-controlls li a {
  color: #fff;
  background-color: inherit;
}
.tab-controlls li.active a {
  color: #4183c4;
}

.tabs {
  background-color: #fff;
  padding:10px;
}
.tabs .tab-item{
  display: none;
}
.tabs .tab-item.active {
  display: block;
}

#commits {
  
}
#commits .commit {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 10px;
}
.commit p {
  margin: 0;
}
.commit .msg {
  font-size: 1.2em; 
}
.commit .info {
  color: #777;
}
/*
 * icon
*/

  .fa-star {
    color: #fff;
  }
  .fa-star.active {
    color: #3170c5;
  }
